<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookmakerFeedParseService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BookmakerFeedParseService.My.MySettings>
            <setting name="ProcessName" serializeAs="String">
                <value>RunCode</value>
            </setting>
            <setting name="ProcessArguments" serializeAs="String">
                <value>http://webappbookmakerfeed20160322092921.azurewebsites.net/spocosy/Receive.aspx</value>
            </setting>
            <setting name="ProcessFullPathFilename" serializeAs="String">
                <value>C:\#myPrograms\RunCode\program\RunPage.exe</value>
            </setting>
            <setting name="ProcessMaxExecRuntimeSecs" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="ProcessKillRuntimeSecs" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="ProcessCycleEverySecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RedirectProcessOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorFIleOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value>C:\#myPrograms\BookmakerFeedParseService\error_reports\</value>
            </setting>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>C:\#myPrograms\BookmakerFeedParseService\logs\</value>
            </setting>
        </BookmakerFeedParseService.My.MySettings>
    </userSettings>
</configuration>